@import 'mixin';
@import 'colorPallet';
@import 'variables';


.slide1 {
  background-image: url("/assets/pic/111.jpg");
  @include items();
}
.slide2 {
  background-image: url("/assets/pic/slide_n_2_o.jpg");
  @include items();
}
.slide3 {
  background-image: url("/assets/pic/slider_n_1.jpg");
  @include items();
}
.owl-carousel .owl-nav.disabled {
  display: block !important;
}
.prev-slide {
  @include nextprevSlide();
  left:0 !important;
}

.next-slide {
 @include nextprevSlide();
 transform:rotate(180deg);
 right:0 !important;
}
.item-caption {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: $font-size-30;
  color:map-get($color-pallet,'wwhite') !important;
  line-height: $line-height-base;
  text-align: center;
  letter-spacing: 2px;
  h3 {
    user-select: none;
    .fadeInUp {
      animation-name: fadeInUp;
    }
    
  }
  button {
    background: transparent;
    padding: 12px 30px;
    border: 1px solid #fff;
    color:map-get($color-pallet,'wwhite');
    cursor: pointer;
      @include beforeChange(transparent);
      padding: 0.5rem;
      display: inline-block;
      vertical-align: middle;
      &:before {
        content: "";
        @include change(white);
      }
      &:hover,&:focus, &:active {
        color: black;
      }
      &:hover:before,&:focus:before,&:active:before {
        
        transform: scaleY(1);
      }
    }
  }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

